<h1>Add Product to Cart</h1>

<%= form_tag products_add_path do %>
<label>Product:</label>
<%= text_field_tag :'product' %>
<br><br>
<%= submit_tag "add to cart" %>
<% end %>

<h2>Cart</h2>
<ul>
  <% cart.each do |product| %>
    <%= product %>
  <% end %>
</ul>
